alabaster==0.7.12
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
async-generator==1.10
attrs==22.1.0
autopep8==1.7.0
Babel==2.10.3
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.4
Brlapi==0.8.3
cachetools==5.2.0
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
chrome-gnome-shell==0.0.0
cliapp==1.20180812.1
click==8.0.3
cmdtest==0.32+git
colorama==0.4.4
colorlog==6.7.0
command-not-found==0.3
crypto==1.4.1
cryptography==37.0.4
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
debugpy==1.6.3
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
dill==0.3.5.1
distro==1.7.0
distro-info===1.1build1
docutils==0.19
duplicity==0.8.21
entrypoints==0.4
executing==1.0.0
fasteners==0.14.1
fastjsonschema==2.16.1
fica==0.2.0
Flask==2.2.2
Flask-Ext==0.1
Flask-MySQL==1.5.2
fonttools==4.37.1
future==0.18.2
google-api-core==2.10.1
google-api-python-client==2.62.0
google-auth==2.11.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
googleapis-common-protos==1.56.4
gspread==5.5.0
h11==0.13.0
httplib2==0.20.2
idna==3.3
imagesize==1.4.1
importlib-metadata==4.6.4
ipykernel==6.15.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.15.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupytext==1.14.1
keyring==23.5.0
kiwisolver==1.4.4
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lxml==4.9.1
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.0
mdurl==0.1.2
mistune==2.0.4
monotonic==1.6
more-itertools==8.10.0
mysql-connector-python==8.0.31
Naked==0.1.32
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
netifaces==0.11.0
notebook==6.4.12
numpy==1.23.2
oauthlib==3.2.0
olefile==0.46
orjson==3.7.12
otter-grader==4.0.2
outcome==1.2.0
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.20.1
psutil==5.9.2
ptpython==3.0.22
ptyprocess==0.7.0
pure-eval==0.2.2
pure-python-adb==0.3.0.dev0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.1
pycodestyle==2.9.1
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.17
pycups==2.0.1
pydantic==1.10.2
Pygments==2.13.0
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-dotenv==1.0.0
python-on-whales==0.52.0
python-speech-features==0.6
pytube==12.1.2
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
regex==2022.9.13
reportlab==3.6.8
requests==2.25.1
requests-oauthlib==1.3.1
rsa==4.9
sci-analysis==2.2.1
scikit-learn==1.1.3
scipy==1.9.1
seaborn==0.12.0
SecretStorage==3.3.1
selenium==4.2.0
Send2Trash==1.8.0
shellescape==3.8.1
six==1.16.0
sklearn==0.0.post1
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
stack-data==0.5.0
statsmodels==0.13.2
systemd-python==234
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
trio==0.21.0
trio-websocket==0.9.2
ttystatus==0.38
typer==0.6.1
typing_extensions==4.3.0
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
vboxapi==1.0
wadllib==1.3.6
wcwidth==0.2.5
webdriver-manager==3.8.5
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wrapt==1.14.1
wsproto==1.1.0
xdg==5
xkit==0.0.0
zipp==1.0.0
